body{
                  background-color: black;
}
h1{
                  font-family: fantasy;
                  color: crimson;
                  
}
p{
                  font-family: fantasy;
                  color: white;
}