*{
    margin: 0px;
    padding: 0px ;
}
body{
    background: #e6e6e6 
}

header, .main, aside{
    background: #fff;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;

}

img{
    height: 200px;
    width: auto;

}
.main, aside{
    clear: both;
}
