*{
    margin: 0px;
    padding: 0px;

}

header, .main, footer{
    width: 90%;
    margin: 20px auto;
    max-width: 1000px;
}
header nav{
    background: #1b11a5;
    overflow: hidden;
}
header nav ul{
    list-style: none;
}
header nav ul li{
    float: left;
}
header nav ul li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

header nav ul li a{
    padding: 10px 20px;
    display: block;
    color: #ffffff;
    text-decoration: none;
}
header nav ul li a:hover{
    background:#4b45a0b9; 
}
header li:hover > ul{
    display: block; 
}